<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About me</h2>

    <div class="about-content">
      <div class="column left">
        <img src="./../../../assets/images/IMG_20201004_121527.jpg" />
      </div>

      <div class="column right">
        <div class="text"><span class="typing-2"></span></div>

        <p>
          I don’t like to define myself by the work I’ve done, I define myself
          by the work I want to do. Skills can be taught, personality is
          inherent. I have a penchant to keep learning, continue challenging and
          improving myself. To me, software development is a moving target, and
          that's why I don't seek perfection but push myself above my current
          level of ability. I’m a fast learner, fueled by high energy levels and
          boundless enthusiasm, able to pick up new skills and juggle different
          projects and roles with relative ease. I am a positive, motivated and
          hard-working person who is keen to understand the company needs,
          analyze problems and recommend suitable ICT solutions where
          appropriate. I am a very organized person who is able to manage
          changing projects based on priorities. I have excellent communication
          skills that allow me to work effectively and positively with staff and
          external stakeholders.
        </p>

        <form method="get" action="">
          <a
            href="./../../../assets/document/Muthiora Resume.pdf"
            rel="noopener noreferrer"
            download="Muthiora Resume.pdf"
          >
            <button type="submit">Download CV</button>
          </a>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="./assets/js/animation.js"></script>

<app-services></app-services>
