<section class="about" id="about">
  <div class="max-width">
    <h1 class="title">About me</h1>
    <div class="underline"></div>
    <div class="about-content">
      <div class="column left">
        <img src="images/Odero.jpg" alt="" />
      </div>
      <div class="column right">
        <div class="text"><span class="typing-2"></span></div>

        <h3>
          I don’t like to define myself by the work I’ve done, I define myself
          by the work I want to do. Skills can be taught, personality is
          inherent. I have a penchant to keep learning, continue challenging and improving myself.
        </h3>

        <h3>
          I’m a fast learner, fueled by high energy levels and boundless
          enthusiasm, able to pick up new skills and juggle different projects
          and roles with relative ease.
        </h3>

        <h3>
          I am a positive, motivated and hard-working person who is keen to
          understand the company needs, analyze problems and recommend suitable
          ICT solutions where appropriate.
        </h3>
        <h3>
          I am a very organized person who is able to manage changing projects
          based on priorities.
        </h3>
        <h3>
          I have excellent communication skills that allow me to work
          effectively and positively with staff and external stakeholders.
        </h3>
        <form method="get" action="./Odero Oluoch - CV San.pdf">
          <a>
            <button type="submit">Download CV</button>
          </a>
        </form>
      </div>
    </div>
  </div>
</section>
<app-projects></app-projects>
