.footer {
  margin-top: 6em;
}
.nav-container {
  height: 100%;
  display: grid;
  place-content: center;
  padding-top: 1.1em;
  padding-bottom: 1.1em;
}

a {
  color: white;
  text-shadow: 0 0 1px crimson;
  padding-right: 3em;
}

