<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container mt-4 nav-container" >
    <ul class="nav">
      <li class="nav-item">
        <a class="navbar-brand navbar-dark bg-dark navbar-text" routerLink="/home" routerLinkActive="active" style="
            color: orange;
            text-shadow: 0 0 3px #ff0000;
            padding-right: 3em;
          ">
          HOME
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand navbar-dark bg-dark navbar-text" routerLink="/projects" routerLinkActive="active" style="
            color: orange;
            text-shadow: 0 0 3px #ff0000;
            padding-right: 3em;
          ">
          PROJECTS
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand navbar-dark bg-dark navbar-text" routerLink="/contact" routerLinkActive="active" style="
            color: orange;
            text-shadow: 0 0 3px #ff0000;
            padding-right: 3em;
          ">
          CONTACT
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand navbar-dark bg-dark navbar-text" routerLink="/skills" routerLinkActive="active" style="
            color: orange;
            text-shadow: 0 0 3px #ff0000;
            padding-right: 3em;
          ">
          SKILLS
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand navbar-dark bg-dark navbar-text" routerLink="/about-me" routerLinkActive="active"
          style="color: orange; text-shadow: 0 0 3px #ff0000">
          ABOUT ME
        </a>
      </li>
    </ul>
  </div>
</nav>
<hr />
<br />
<footer class="footer">
  <span style="display: grid; place-content: center;">
    2022 All rights reserved.</span>
</footer>

<router-outlet></router-outlet>