<nav class="navbar fixed-top bg-dark">
  <div class="container nav-container">
    <ul class="nav">
      <li class="nav-item">
        <a class="navbar-brand navbar-dark bg-dark navbar-text" routerLink="/home" routerLinkActive="active" >
          HOME
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand navbar-dark bg-dark navbar-text" routerLink="/projects" routerLinkActive="active" >
          PROJECTS
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand navbar-dark bg-dark navbar-text" routerLink="/contact" routerLinkActive="active">
          CONTACT
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand navbar-dark bg-dark navbar-text" routerLink="/skills" routerLinkActive="active" >
          SKILLS
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand navbar-dark bg-dark navbar-text" routerLink="/about-me" routerLinkActive="active"
          >
          ABOUT ME
        </a>
      </li>
    </ul>
  </div>
</nav>

<app-home></app-home>

<footer class="footer">
  <span style="display: grid; place-content: center">
    2022 All rights reserved.
  </span>
</footer>

<router-outlet></router-outlet>