<section class="services" id="services">
  <div class="max-width">
    <h2 class="title">My services</h2>
    <div class="serv-content carousel owl-carousel">
      <div class="card">
        <div class="box">
          <i class="fas fa-paint-brush"></i>
          <div class="text">REST API development</div>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-chart-line"></i>
          <div class="text">FullStack Web Development</div>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-code"></i>
          <div class="text">Android Apps Development</div>
        </div>
      </div>
         <div class="card">
        <div class="box">
          <i class="fas fa-code"></i>
          <div class="text">Android Apps Development</div>
        </div>
      </div>
      
    </div>
  </div>
</section>
